@import "bourbon";

@import "base/normalize";
@import "base/resets";
@import "base/helpers";


@mixin box-gradient($color, $size: -40px, $end: 6, $int: .7s) {
	$i: 1; $shadows: (); $newsize: 0;
	$devide: ($int / $end);
	
	@while $i <= $end {
		$shadows: append($shadows, (inset 0 $size*$i 0 0 rgba($color, $devide * ($end - $i))), comma);
		
		$i: $i + 1;
	}
	
	box-shadow: $shadows;
}



html, body { height: 100%; }


html { font-size: 15px; }

body {
	background-color: white;
	
	font: 16px/1.5em "Helvetica Neue", Helvetica, Arial, Verdana, OpenSans, sans-serif;
	color: #fff
}

$exah: #51D3FF;

.header {
	position: relative;
	height: 100%;
	
	background-color: $exah;
	
	color: white;
	
	transition: all .5s linear;
	
//	animation: simple-bg 10s linear 0s infinite alternate;	
}

$size: 2.5rem;

.description {
	font-weight: 300;
	width: 100%;
	text-align: center;
	display: table;
	
	&-item {
		height: 2.5rem;
		display: table-row;
		
		&-content {
			display: table-cell;
			padding: 0 .5rem; 
			vertical-align: middle;
		}
		
		&:nth-of-type(1) {
			background-color: rgba($exah, .87);
		}
		&:nth-of-type(2) {
			background-color: rgba($exah, .57);
		}
		&:nth-of-type(3) {
			background-color: rgba($exah, .4);
		}
		&:nth-of-type(4) {
			background-color: rgba($exah, .15);
		}
		&:nth-of-type(5) {
			background-color: rgba($exah, 0);
		}
		
	}
	
	a {
		color: inherit;
		font-weight: 400;
		border-bottom: 1px solid rgba(#fff,.5);
		
		&.mailto {
			color: #6EB1D0;
			border-bottom: 1px solid rgba(#6EB1D0,.5);
		}
	}
}

.exah {
	@extend %absolute-center;
	width: 100%; height: 100%;
	
	max-width: 70%;
	max-height: 30%;
	
	transition: all .5s linear;
//	animation: appear 3.5s $ease-out-expo forwards, flying 35s linear 5s infinite alternate;	
	animation: appear-scale 3s $ease-out-back forwards, flying 35s linear 5s infinite alternate;;
}

@keyframes appear {
	0% {
		transform: translate(0, 200px);
	}
	
	100% {
		transform: translate(0);
	}
}

@keyframes appear-scale {
	0% {
		transform: scale(0.2);
	}
	
	100% {
		transform: scale(1);
	}
}

@keyframes flying {
	0% {
		transform: translate(0);
	}
	
	20% {
		transform: translate(0, -10px);
	}
	
	35% {
		transform: translate(0, -5px);
	}
	
	55% {
		transform: translate(0, -15px);
	}
	
	70% {
		transform: translate(0, -15px);
	}
	
	100% {
		transform: translate(0, 5px);
	}
}

@keyframes simple-bg {
	0% {
		background-color: $exah;
		
		color: #1176be;
	}
	
	100% {
		background-color: #619ec9;
		
		color: #13517d;
	}
} 

@keyframes bg {
	0% {
		background-color: $exah;
		@include box-gradient(white);
	}
	
	40% {
		background-color: #569BCD;
		@include box-gradient(#FFFDCE);
	}
	
	60% {
		background-color: #4976AC;
		@include box-gradient(#FFD273);
	}
	
	100% {
		background-color: #25455A;
		@include box-gradient(#E9901B);
	}
	
	100% {
		background-color:#27155F;
		@include box-gradient(#941D8D);
	}
}

@media all and (max-width: 650px) {
	html { font-size: 24px; }
//	.exah { top: 15%; }
}


/* ************************************************************** *
 				Made with Love by John Grishin (@exah)
 			
		             ///            ///                     
		             ///    ////    //////    // ///        
		             //   //   //   //  ///  ///  ///       
		            ///  ///   //  ///  ///  //   //        
		            ///   //////   //   //   //   //        
		     ////   //                  //                  
		  ///////////        -         ///        -         
		 ///      -   /////  //  /////  ///////   //   //////
		///   ////  ///    ///  //     ///  //   //  ///  //
		////   ///  //     ///   ///  ///   //  ///  //   //
		  ///////   //     //  /////  ///  ///  //   //   //

 * ************************************************************** */